.container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    width: 100%;
    height: 2rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #F0F0F0;
    padding: 1rem;
    border-radius: 8px;
    width: 500px;
}

.search-bar input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    width: 100%;
}

.nvo-usuario-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #4A90E2;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}