.container {
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    margin-bottom: 2rem;
}

/* Estilos de la barra de busqueda */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #F0F0F0;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    width: 500px;
}

.search-bar input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    width: 100%;
}

.nvo-usuario-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #4A90E2;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Fin de los estilos */

/* Estilos de la tabla de usuarios */

.table-container {
    margin-top: 1rem;
    overflow-x: auto;
    padding: 1rem;
    background: white;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-table th {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
}

 .users-table td {
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #E0E0E0;
    gap: 1rem;
 }

 .datos-usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .nombre-permiso p {
    margin: 0;
    font-weight: 600;
 }

 .nombre-permiso span {
    font-size: 0.9rem;
    color: #4A90E2;
 }

 .acciones-usuario {
    display: flex;
    gap: 1rem;
 }

 .edit-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #4A90E2;
    color: #4A90E2;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.7s ease;
 }

 .delete-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #E94E4E;
    color: #E94E4E;
    cursor: pointer;
    transition: 0.7s ease;
 }

 .delete-container:hover {
    background-color: #E94E4E;
 }

 .edit-container:hover {
    background-color: #4A90E2;
 }

 .delete-container:hover, .edit-container:hover {
    color: white;
    transition: 0.3s ease;
 }

/* Fin de los estilos */

/* Estilos de paginacion */

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: fit-content;
    min-width: 3rem;
    cursor: pointer;
}

.pagination.active {
    background-color: #4A90E2;
    color: white;
    border: none;
}

/* Fin de estilos */